PORT=3003
REDIS_HOST=localhost
REDIS_PORT=6379
KAFKA_BROKER=localhost:9094
POSTGRES_HOST=localhost
POSTGRES_PORT=5436
POSTGRES_USER=werewolf
POSTGRES_PASSWORD=werewolf123
POSTGRES_DB=werewolf
GATEWAY_URL=http://localhost:3001
INTERNAL_API_TOKEN=gIrGoNuIpF1Y